!!!
%html{prefix: 'og: http://ogp.me/ns#'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/

    = yield_content :meta

    %title= current_page.data.title || 'Özel Paket'

    //Open Graph Tags
    %meta{content: 'Avukatlara Ozel Paket', property: 'og:title'}/
    %meta{content: 'article', property: 'og:type'}/
    %meta{content: 'http://avukatlara.ozelpaket.net/assets/images/avukatlara-ozel-paket.png', property: 'og:image'}/
    %meta{content: 'http://avukatlara.ozelpaket.net/', property: 'og:url'}/
    %meta{content: 'Yaklaşık ₺400 değerinde indirim paketiyle, teknolojinin rahatlıyla tanışın.', property: 'og:description'}/

    //Twitter Open Graph Tag
    %meta{content: '@Bulutfon', name: 'twitter:site'}/

    = stylesheet_link_tag 'application',
                          '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',
                          '//fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,700,900'

    %link{rel:'icon', href:'favicon.png', type:'image/x-icon'}/

    =javascript_include_tag 'vendor/modernizr-2.8.3.min.js'

    = yield_content :head

  %body{class: page_classes}

    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    = partial 'partials/header'

    = yield

    = partial 'partials/footer'


